*{
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: sans-serif;
    padding: 50px;
    background-color: #17B169;
}

#wrapper{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 20px;
    border: 7px solid #018749;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

#playButton {
    margin-bottom: 15px;
    margin-left: 15px;
}

.textSection {
    margin-left: 15px;
    margin-top: 3px;
}